.App {
   box-sizing: border-box;
   text-align: left;
   background-color: #ebecf0;
   padding: 0 0 50px 0;
}

/* Navbar */
.navbar {
   background-color: white;
   margin-bottom: 50px;
   padding: 20px 50px;
   box-shadow: 0 1.5px 3px lightgray;
}

.dropdown {
   background-color: white;
   margin-right: 30px;
   font-size: 16px;
   font-weight: bold;
   text-decoration: none;
   color: #323232;
}

.dropdown:hover {
   cursor: pointer;
}

.dropdown-content {
   display: none;
   position: absolute;
   top: 70px;
   z-index: 1;
   background-color: white;
   border-radius: 10px;
   padding: 20px 40px;
   box-shadow: 0 2px 4px lightgray;
   font-weight: normal;
   text-align: left;
}

.dropdown-content-travel {
   left: 210px;
}

.dropdown:focus .dropdown-content {
   display: block;
}

.dropdown:active .dropdown-content {
   display: block;
}

.dropdown-area-container {
   margin-bottom: 40px;
}

.area-name {
   color: royalblue;
}

.dropdown-subarea-container {
   margin-bottom: 25px;
}

.subarea-name {
   margin-bottom: 12px;
   color: #323232;
}

.dropdown-option {
   border: none;
   background-color: white;
   margin-right: 20px;
   padding: 0;
   text-decoration: none;
   font-size: 16px;
   color: gray;
}

.dropdown-option:hover {
   cursor: pointer;
   text-decoration: underline;
}

/* */

.current-container {
   width: 650px;
   margin: 0 auto;
   text-align: center;
   background-color: white;
   padding: 50px 0;
   border-radius: 10px;
   box-shadow: 0 1.5px 3px lightgray;
}

.current-details {
   width: fit-content;
   margin: auto;
}

.current-location {
   font-size: 30px;
   margin: 0;
}

.current-temp {
   margin: 10px 0;
   font-size: 36px;
   font-weight: bold;
}

.current-weather {
   margin: 0 0 25px 0;
   font-size: 18px;
   font-weight: bold;
   color: silver;
}

.current-weather-icon {
   width: 75px;
   height: 75px;
}

.current-details {
   display: flex;
   justify-content: center;
}

.table-details {
   width: 250px;
   border-collapse: collapse;
   margin: 10px 20px 0 20px;
}

.detail-val {
   text-align: right;
   font-weight: bold;
}

td {
   border-bottom: 1px solid gainsboro;
   text-align: left;
   padding: 10px 0;
}

.forecast-container {
   width: 650px;
   margin: 50px auto;
   padding: 0;
}

.section-title {
   margin: 0 0 20px 0;
}

.forecast-card-container {
   display: flex;
   justify-content: center;
   width: fit-content;
   margin: 0 auto;
}

.forecast-card {
   border-radius: 15px;
   width: 50px;
   margin: 0 10px;
   padding: 0 30px;
   text-align: center;
   background-color: white;
   box-shadow: 0 1.5px 3px lightgray;
}

.forecast-weather-icon {
   margin: 5px 0;
   width: 45px;
   height: 45px;
}

.time, .date {
   font-size: 18px;
   font-weight: bold;
   color: #323232;
}

.max-temp {
   margin: 0;
   font-size: 24px;
   font-weight: bold;
   color: lightsalmon;
}

.min-temp {
   margin: 0;
   font-size: 18px;
   font-weight: bold;
   color: royalblue;
}

span {
   font-weight: normal;
}

.weather {
   font-weight: bold;
   color: darkgrey;
}