.App {
   box-sizing: border-box;
   text-align: left;
   background-color: #ebecf0;
   padding: 0 0 50px 0;
}

/* Navbar */
.navbar {
   display: flex;
   align-items: center;
   position: relative;
   background-color: white;
   margin-bottom: 50px;
   padding: 20px 50px;
   box-shadow: 0 1.5px 3px lightgray;
}

.appname {
   width: fit-content;
	display: flex;
   position: absolute;
   left: 0;
   right: 0;
   margin: auto;
	background-color: white;
   padding: 0px 20px;
	font-size: 28px;
	font-weight: bold;
}

.letter {
   margin: 0;
   user-select: none;
	-webkit-user-select: none;
  	-moz-user-select: none;
}

.letter-c { color: #2058dc; }
.letter-l { color: #4269e2; }
.letter-o { color: #5a82ea; }
.letter-u { color: #fddb5b; }
.letter-d { color: #fab935; }
.letter-y { color: orange; }

.dropdown {
   background-color: white;
   margin-right: 30px;
   font-size: 16px;
   font-weight: bold;
   text-decoration: none;
   color: #323232;
}

.dropdown:hover {
   cursor: pointer;
}

.dropdown-content {
   display: none;
   position: absolute;
   top: 70px;
   z-index: 1;
   background-color: white;
   border-radius: 10px;
   padding: 20px 40px;
   box-shadow: 0 2px 4px lightgray;
   font-weight: normal;
   text-align: left;
}

.dropdown-content-travel {
   left: 210px;
}

.dropdown:focus .dropdown-content {
   display: block;
}

.dropdown:active .dropdown-content {
   display: block;
}

.dropdown-area-container {
   margin-bottom: 40px;
}

.area-name {
   color: royalblue;
}

.dropdown-subarea-container {
   margin-bottom: 25px;
}

.subarea-name {
   margin-bottom: 12px;
   color: #323232;
}

.dropdown-option {
   border: none;
   background-color: white;
   margin-right: 20px;
   padding: 0;
   text-decoration: none;
   font-size: 16px;
   color: gray;
}

.dropdown-option:hover {
   cursor: pointer;
   text-decoration: underline;
}

/* */

.current-container {
   width: 700px;
   margin: 0 auto;
   text-align: center;
   background-color: white;
   padding: 50px 0;
   border-radius: 10px;
   box-shadow: 0 1.5px 3px lightgray;
}

.current-details {
   width: fit-content;
   margin: auto;
}

.current-location {
   font-size: 30px;
   margin: 0;
}

.current-temp {
   margin: 10px 0;
   font-size: 36px;
   font-weight: bold;
}

.current-weather {
   margin: 0 0 25px 0;
   font-size: 18px;
   font-weight: bold;
   color: silver;
}

.current-weather-icon {
   width: 75px;
   height: 75px;
}

.current-details {
   display: flex;
   justify-content: center;
}

.table-details {
   width: 280px;
   border-collapse: collapse;
   margin: 10px 20px 0 20px;
}

.detail-val {
   text-align: right;
   font-weight: bold;
}

td {
   border-bottom: 1px solid gainsboro;
   text-align: left;
   padding: 10px 0;
}

.forecast-container {
   width: 700px;
   margin: 50px auto;
   padding: 0;
}

.section-title {
   margin: 0 0 20px 0;
}

.forecast-card-container {
   display: flex;
   justify-content: center;
   width: fit-content;
   margin: 0 auto;
}

.forecast-card {
   border-radius: 15px;
   width: 60px;
   margin: 0 10px;
   padding: 0 30px;
   text-align: center;
   background-color: white;
   box-shadow: 0 1.5px 3px lightgray;
}

.forecast-weather-icon {
   margin: 5px 0 0 0;
   width: 50px;
   height: 50px;
}

.forecast-uv-container {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 8px;
}

.forecast-uv-icon {
   width: 28px;
   height: 28px;
   margin-right: 5px;
}

.forecast-uv-index {
   font-size: 12px;
   font-weight: bold;
   color: #323232;
}

.time, .date {
   font-size: 18px;
   font-weight: bold;
   color: #323232;
}

.max-temp {
   margin: 0;
   font-size: 24px;
   font-weight: bold;
   color: lightsalmon;
}

.min-temp {
   margin: 0;
   font-size: 18px;
   font-weight: bold;
   color: royalblue;
}

span {
   font-weight: normal;
}

.weather {
   font-weight: bold;
   color: darkgrey;
}